:root {
      /* Cores */
      --cor-primaria: #01313d;
      --cor-titulo: #de5b09;
      --cor-titulo-card: #e6171e;
      --cor-botoes: #118a80;
      --cor-secundaria: #C9D6DC;
      --cor-texto: #4B3B2B;
      --cor-sucesso: #e9f5ff;
      --cor-branco: #ffffff;
      --cor-erro: #ffcccc;

      /* Espaçamentos */
      --espaco-xs: 0.5rem;
      --espaco-sm: 1rem;
      --espaco-md: 2rem;

      /* Bordas e sombras */
      --borda-radius: 8px;
      --sombra: 0 2px 10px rgba(0, 0, 0, 0.1);

      /* Fontes */
      --fonte-base: 16px;
      --fonte-titulo-card: 1.5rem;
      --fonte-titulo-header: 2.6rem;

      --fonte-principal: 'Poppins', sans-serif;

      /* Layout */
      --largura-conteudo: 60%;
      --largura-imagem: 40%;
      --altura-total: 100dvh;

      --quadrado: 90px;
    }